@import './song.scss';

.album-page {
  display: flex;
  align-items: center;
}

.album-left {
  padding: 47px 30px 40px 39px;
}

.album-right {
  align-self: stretch;
  flex: 0 0 270px;
  padding: 20px 40px 40px 30px;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.section1 {
  display: flex;
  justify-content: space-between;
  img {
    width: 177px;
    height: 177px;
  }
}