@import '@/assets/css/album.scss';

.comment-body__section:first-child {
  display: block;
}

.button-group {
  margin: 25px 0;
}

.section1-div {
  display: flex;
  align-items: center;
  img {
    width: 35px;
    height: 35px;
    margin: 0;
  }
  div {
    margin: 0 10px;
  }
}

.section3-table-title {
  display: flex;
  align-items: center;
  > h2 {
    margin-right: 15px;
  }
  div {
    margin-left: auto;
    > a {
      margin-right: 15px;
    }
  }
}