@import '@/assets/css/comp/card.scss';

.ant-avatar-image {
  border: 1px solid #eee;
}

.card {
  height: 140px;
}

.user-home__profile {
  display: flex;
  margin: 50px 0;
  > img {
    display: block;
    width: 180px;
    height: 180px;
    padding: 3px;
    background: #fff;
    border: 1px solid #d5d5d5;
    margin-right: 50px;
  }
  > div {
    flex: 1;
  }
}

.profile-line {
  margin: 10px 0;
}

.line1, .line2 {
  display: flex;
  align-items: center;
  > * {
    margin-right: 10px;
  }
}

.line1 {
  h2 {
    margin-bottom: 0;
  }
}

.check-singer-btn {
  margin-left: auto;
}

.line3 {
  padding: 10px;
  border-top: 1px solid #ddd;
  div {
    display: inline-block;
    padding: 0 40px 0 20px;
    cursor: pointer;
    &:hover * {
      color: #0c73c2;
    }
    &:nth-child(1) {
      padding-left: 0;
    }
    &:nth-child(2) {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
}

.user-home__created {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 15px 0;
  }
}

.title {
  padding-bottom: 10px;
  border-bottom: 2px solid #c20c0c;
  font-size: 20px;
  line-height: 28px;
}

.user-home__rank {
  &-title {
    display: flex;
    align-items: center;
    font-size: 12px;
    > span {
      margin: 0 10px;
    }
  }
  &-list {
    li {
      height: 38px;
      display: flex;
      align-items: center;
      position: relative;
      &:nth-child(even) {
        background-color: #f7f7f7;
      }
      &:hover {
        background: #e6e6e6;
        .hide-btns {
          display: block;
        }
      }
      > * {
        margin-right: 10px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.rank-title {
  font-size: 20px;
}

.hide-btns {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 7px;
  display: none;
  width: 92px;
  height: 20px;
  overflow: hidden;
  > * {
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
  }
}

.time-btn {
  margin-left: auto;
  span {
    cursor: pointer;
    &:first-child {
      &::after {
        content: '|';
        margin: 0 8px;
      }
    }
  }
}

.active {
  color: #333;
  font-weight: 700;
}

.inactive {
  line-height: 26px;
  color: #666;
}

.cover-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  width: 338px; 
  height: 189px;
  padding: 5px 10px;
  cursor: pointer;
}

.cover-title {
  span {
    &:first-child {
      color: #fff;
    }
    &:nth-child(2) {
      color: #ddd;
    }
  }
}

.cover-playbtn {
  margin: auto;
  > * {
    font-size: 30px;
  }
}

.cover-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.resource-div {
  &__title {
    padding: 8px;
    margin: 10px 0;
    background-color: #f5f5f5;
    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    div {
      display: inline-block;
    }
  }
}

.event-div {
  // padding: 10px;
  margin: 10px 0;
  // background-color: #f5f5f5;
  &__album {
    display: flex;
    padding: 8px;
    margin: 8px 0;
    background-color: #fff;
    > div {
      &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px; 
        height: 40px;
        margin-right: 10px;
        background-size: '100% 100%';
      }
    }
  }
}

.play-btn {
  color: #ddd;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.pic {
  min-width: 170px;
  max-height: 338px;
  height: auto;
  margin-right: 8px;
  margin-bottom: 8px;
}

.action-btn {
  color: #0c73c2;
  opacity: 0.5;
  cursor: pointer;
}

.action {
  &::before {
    content: '|';
    margin: 0 10px;
  }
}

.event-li {
  border-bottom: 1px solid #e8e8e9;
}

.video-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  > div:nth-child(2) {
    &::before {
      content: '|';
      margin: 0 10px;
    }
  }
}

.comment-list {
  margin: 12px 0 0;
  padding: 15px;
  border: 1px solid #d9d9d9;
  background: #f8f8f8;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fcfcfc;
}

.see-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-home__event {
  display: flex;
  &-left {
    flex: 1;
  }
  &-right {
    align-self: stretch;
    width: 250px;
    border-left: 1px solid #e8e8e9;
    > div {
      &:first-child {
        padding: 10px 0 0 25px;
      }
    }
  }
}

.follow-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  padding-left: 0;
  list-style: none;
  li {
    width: 64px;
    img {
      width: 64px;
      height: 64px;
    }
  }
}

.follow-li__nickname {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.follow-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0;
  li {
    display: flex;
    padding: 15px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    &:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8) {
      background-color: #fafafa;
    }
    img {
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }
  }
}

.li-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  &-div {
    &:nth-child(2) {
      span {
        &:not(:first-child) {
          &::before {
            content: '|';
            margin: 0 10px;
          }
        }
      }
    }
    &:nth-child(3) {
      width: 255px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.blue-text {
  color: #0c73c2;
}